@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    /* @apply text-lg leading-8 bg-gradient-to-r from-cyan-500 to-blue-500; */
  }
  .h2 {
    @apply text-[32px] mb-6 tracking-[10%] uppercase text-white;
  }
  .h3 {
    @apply font-semibold text-[26px] mb-6 leading-[46px] text-white;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .btn {
    @apply rounded-full text-white font-medium
    bg-fuchsia-400 hover:bg-violet-500
    transition ease-in-out;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply text-white font-bold;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .link {
    @apply font-bold  text-gray-400  text-sm text-center py-8 md:py-0;
  }
  .active-link {
    @apply border-b-2 border-b-[#98E0FF] text-white;
  }
  .link-button {
    @apply bg-white py-3 px-4 rounded-full text-black font-bold text-sm;
  }
}
